body {
    background: radial-gradient(#90e73f, #24a066);
    
}


.hasABox {
    box-shadow: 5px 5px 10px;
    margin: 50px 50px;
    padding: 40px;
    background-color: white;
    border: 1px solid green;
    border-radius: 20px 100px 50px;
    box-shadow: 50px;
    
}


.style-this{
    font-size: 36px;
    font-weight: bolder;
    text-transform: uppercase;
    
}


h1 {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}
#colorYel {
    color: yellow;
}

.trololol{
    font-size: 20px;
    animation-name: troll;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes troll {
    from {color: red;}
    to {color: black;}
}

       
       
        